.cta {
  text-align: center;
  padding: 50px 20px;
  background-color: #072213;
  color: white;
  font-family: "Rajdhani", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.cta button {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #0f522d;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: "Rajdhani", sans-serif;
  font-weight: 300;
  font-style: normal;
      transition: background-color 0.3s ease;
  
}



.cta button:hover {
 
  background-color: #1ac065;
  color: white;
  border-radius: 5px;
 
}
